:root{
    --primary: #B7D3F2;
    --secondary:#A8DCD9;
}
*{
    font-family: "Roboto",sans-serif;
}

/* hero section/? */
.hero{
    background: url(./assets/bg.png)no-repeat center center;
    background-size: cover;
    min-height: 50vh;

}
a.nav-link{
    color: rgb(228, 22, 22);
    font-weight: bold;
    font-size: 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(179, 32, 32, 0.5);
}
.section-title{
  
    font-size: 3rem;
    border-bottom: 5px solid var(--secondary);
    width: 250px;
    margin:5rem auto;
    text-align:center;
}
.skill-list{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    text-align: center;
}
.skill-list i{
    display: block;
    font-size: 5rem;
}

.footer{
    position: relative;
}
.arrow{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: white;
    color:var(--primary);
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
